body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background: #fff4cc;
    margin: 0;
    padding: 0;
}

/* Outer rounded box */
#chat-container {
    width: 760px;
    margin: 45px auto;
    padding: 15px;
    background: #fff6d9;
    border-radius: 10px;
    border: 3px solid #f5c87b;
}

/* Title */
#title {
    text-align: center;
    font-size: 28px;
    color: #f4a321;
}

/* Messages window */
#messages {
    height: 430px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

/* Base bubble */
.user, .bot {
    max-width: 70%;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
}

/* User bubble – ORANGE rounded rectangle */
.user {
    background: #f4a321;
    color: #fff;
    margin-left: auto;
    border-radius: 10px;
}

/* Bot bubble – PINK rounded rectangle */
.bot {
    /* background: #ffe3e3; */
    border: 3px solid #f5c87b;
    color: #c55d5d;
    border-radius: 12px;
    margin-left: auto;
}

/* Input area */
#input-area {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

#input {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #f3c78b;
    outline: none;
    background: #fff6e8;
}

#send {
    padding: 15px 25px;
    background: #f4a321;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#send:hover {
    background: #e28e12;
}
